@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.mdl-layout__header-row {
  padding-left: 20px;
  padding-right: 12px; }
  .mdl-layout__header-row .mdl-layout-title a {
    text-decoration: none; }
  .mdl-layout__header-row .mdl-layout-title div {
    font-size: 24px;
    font-weight: 400; }
    .mdl-layout__header-row .mdl-layout-title div i {
      margin-right: 24px; }

.visible-home, .visible-settings, .visible-map {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center; }

.view-home .visible-home {
  display: flex; }

.view-settings .visible-settings {
  display: flex; }

.view-map .visible-map {
  display: flex; }

.view-settings .mdl-layout__header-row-today, .view-map .mdl-layout__header-row-today {
  display: none; }

.mdl-layout__header--waterfall:not(.is-compact) {
  overflow: visible; }

.mdl-layout__header-row-today {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start; }
  .mdl-layout__header-row-today .forecast_today {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin: 24px 17px 24px 33px; }
    .mdl-layout__header--waterfall.is-compact .mdl-layout__header-row-today .forecast_today {
      display: none; }
    @media screen and (min-width: 450px) {
      .mdl-layout__header-row-today .forecast_today {
        margin: 16px 59px 16px 73px; } }
    .mdl-layout__header-row-today .forecast_today .left {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-between;
      align-items: flex-start; }
      .mdl-layout__header-row-today .forecast_today .left .item_date {
        font-size: 18px;
        transform: scale(1, 1.2);
        line-height: 18px;
        font-weight: 300; }
      .mdl-layout__header-row-today .forecast_today .left .item_high {
        font-family: 'Fira Sans', sans-serif;
        font-size: 72px;
        line-height: 72px;
        padding: 18px 0;
        letter-spacing: 0.1em;
        margin-left: 0.1em; }
      .mdl-layout__header-row-today .forecast_today .left .item_low {
        font-size: 27px;
        transform: scale(1, 1.2);
        line-height: 27px;
        font-weight: 500;
        letter-spacing: 0.1em;
        margin-left: 0.5em; }
    .mdl-layout__header-row-today .forecast_today .right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-content: space-between;
      align-items: center; }
      .mdl-layout__header-row-today .forecast_today .right .item_icon {
        margin-top: -16px; }
        .mdl-layout__header-row-today .forecast_today .right .item_icon img {
          height: 148px; }
      .mdl-layout__header-row-today .forecast_today .right .item_forecast {
        font-size: 18px;
        transform: scale(1, 1.2);
        line-height: 18px;
        font-weight: 300; }

.mdl-layout__content section {
  padding: 12px; }
